#-------------------------
# Local server files
#-------------------------
docker-compose.override.yml
Homestead.json
Homestead.yaml

#-------------------------
# Development only Files
#-------------------------
/node_modules
phpunit.xml
/mariadb
/storage/minio

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
.env
.env.backup
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
/writable
.phpunit.result.cache
npm-debug.log
yarn-error.log
php_errors.log
.parcel-cache/*

#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

*.swp
*.swo
