parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- app/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- app/Cells/category_list_cell.php
		- app/Cells/mute_thread_cell.php
		- app/Cells/Moderation/sub_menu_cell.php
		- app/Config/*
		- app/Views/*
		- app/Libraries/TextFormatter.php
	ignoreErrors:
	    - '#Cannot use -- on array|bool|float|int|object|string|null.#'
	    - '#Call to function model with .*::class is discouraged#'
	    - '#Call to deprecated method getStatusCode\(\) of class CodeIgniter\\HTTP\\Response:#'
	    - '#Call to an undefined method CodeIgniter\\Database\\ConnectionInterface::[A-Za-z].+\(\)#'
	    - '#Call to an undefined method CodeIgniter\\HTTP\\RedirectResponse::[hxLocation\|\|hxRedirect\|\|hxRefresh].+\(\)#'
	    -
	    	message: '#Call to an undefined method App\\Models\\UserModel::transException\(\).#'
	    	paths:
	    	    - app/Controllers/Account/SecurityController.php
	    -
	    	message: '#Call to an undefined method App\\Models\\UserModel::transComplete\(\).#'
	    	paths:
	    	    - app/Controllers/Account/SecurityController.php
	treatPhpDocTypesAsCertain: false
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
		- vendor/codeigniter4/settings/src/Helpers
		- vendor/codeigniter4/shield/src/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
	codeigniter:
		checkArgumentTypeOfFactories: false
		additionalServices:
			- CodeIgniter\Shield\Config\Services
			- Michalsn\CodeIgniterMarkdownPages\Config\Services
			- Michalsn\CodeIgniterQueue\Config\Services
