@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

form select.select {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    font-size: 0.875rem;
    line-height: 2;
    @apply bg-base-100;
    border-width: 1px;
    border-color: hsl(var(--bc) / 0.3);
    border-radius: var(--rounded-btn, .5rem);
}

#toolbarContainer {
    .tab {
        cursor: revert;
        -webkit-user-select: revert;
        user-select: revert;
        height: revert;
    }
}
